@import '../src/common/color.scss';

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "open sans",  sans-serif;
}

a {
    text-decoration: none;
}

body {
    background: $primary-color;
}
.contaner {
    margin: 0px 40px;
}

.error {
    color:red;
}